<div>
  <%= link_to "Edit this repo", edit_repo_path(@repo) %> |
  <%= link_to "Back to repos", repos_path %>
  <%= link_to "Destroy this repo", @repo, data: { turbo_confirm:"are you sure?", turbo_method: :delete } %>
</div>
<hr>

<h1>
  <%= @repo.name %>
</h1>