<% if !params[:q].blank? %>
    <%= render 'search/repo', repositories: @repos %>
    <%= render 'search/folder', folders: @folders %>
    <%= render 'search/item', items: @items %>
<% else %>
    <div class="mb-3">
        <h2>Repository</h2>
        <hr>
        <div class="list-group">
            <li class="list-group-item">
                can't find the repositories!
            </li>
        </div>
    </div>
    <div class="mb-3">
        <h2>Folder</h2>
        <hr>
        <div class="list-group">
            <li class="list-group-item">
                can't find the folders!
            </li>
        </div>
    </div>
    <div class="mb-3">
        <h2>Item</h2>
        <hr>
        <div class="list-group">
            <li class="list-group-item">
                can't find the items!
            </li>
        </div>
    </div>
<% end %>