<div class="list-group-item list-group-item-action">
    <div class="row">
        <div class="col">
            <i class="bi bi-folder-fill"></i>
            <%= link_to folder.name, [folder.repo, folder], class:"text-decoration-custom-color" %>
        </div>
        <div class="col text-center"><%= time_ago_in_words(folder.created_at) %> ago</div>
        <div class="col text-end">
            <%= link_to 'Delete', [folder.repo, folder], class:"text-decoration-custom-color", data: { turbo: true, turbo_confirm: 'Are you sure?', turbo_method: :delete } if folder.user.id == current_user.id %>
        </div>
    </div>
</div>