<div class="list-group-item list-group-item-action">
    <div class="row">
        <div class="col">
        <% item.posts.each do |file| %>
            <% if file.image? %>
                <i class="bi bi-file-earmark-image"></i>
            <% elsif file.audio? %>
                <i class="bi bi-file-earmark-music"></i>
            <% elsif file.video? %>
                <i class="bi bi-file-earmark-play"></i>
            <% else %>
                <i class="bi bi-file-earmark"></i>
            <% end %>
            <%= link_to file.filename, [item.repo, item], class:"text-decoration-custom-color" %>
        <% end %>
        </div>
        <div class="col text-center"><%= time_ago_in_words(item.created_at) %> ago</div>
        <div class="col text-end">
            <%= link_to 'Delete', [item.repo, item], class:"text-decoration-custom-color", data: { turbo: true, turbo_confirm: 'Are you sure?', turbo_method: :delete } if item.user.id == current_user.id %>
        </div>
    </div>
</div>