/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Sticky Footer Classes */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

/* Other Classes for Page Styling */


#moon {
    background: #222831;
    background: linear-gradient(to right, #393E46, #222831);
}

#sun {
    background: #fdfdfd;
    background: linear-gradient(to right, #afc6ec, #456697);
}

.nav-bg {
    background-color: #afc6ec;
}

.center-card {
    margin: auto;
    width: 40%;
    // border: 3px solid #73AD21;
    padding: 10px;
}

.text-decoration-custom-color {
    text-decoration: none;
    color: #222831;
}

.text-decoration-custom-color:hover {
    text-decoration: underline;
}

.text-decoration-custom {
    text-decoration: none;
}

.text-decoration-custom:hover {
    text-decoration: underline;
}



// Box
#context-menu {
    // background-color: #ffffff;
    // box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
    // color: #1f194c;
    width: 10em;
    // padding: 0.8em 0.6em;
    // font-size: 1.3rem;
    position: fixed;
    visibility: hidden;
}

.item {
    // padding: 0.3em 1.2em;
}

.item:hover {
    // background-color: rgba(44, 141, 247, 0.2);
    cursor: pointer;
}