<footer id="sticky-footer" class="flex-shrink-0 py-4 <%= cookies[:moon] ? "bg-dark text-white-50" : "bg-light" %>">
    <div class="container text-center">
        <small>Copyright &copy; My Repo</small>
    </div>
</footer>