<%# <div class='box card mb-4' data-in='yes'>
    <div class="card-body">
        <h1 data-in='yes'>NOTE 1</h1>
        <p data-in='yes'>Click right to change me</p>
    </div>
</div> %>

<div class="list-group menu">
    <%= link_to "New repo", new_repo_path, class:"list-group-item list-group-item-action" %>
    <%= link_to "New repo", new_repo_path, class:"list-group-item list-group-item-action" %>
</div>
