<div class="list-group menu">
    <%= link_to "New repo", new_repo_path, class:"list-group-item list-group-item-action" %>
    <%= link_to "New repo", new_repo_path, class:"list-group-item list-group-item-action" %>
</div>
