<div class="border-end <%= cookies[:moon] ? "bg-dark" : "nav-bg" %>" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <%= link_to 'Home', root_path, class:"list-group-item list-group-item-action list-group-item-dark p-3" %>
        <%= link_to 'Home', root_path, class:"list-group-item list-group-item-action list-group-item-dark p-3" %>
        <%= link_to 'Home', root_path, class:"list-group-item list-group-item-action list-group-item-dark p-3" %>
    </div>
</div>